html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    color: rgb(210, 240, 164);
    background-color: rgb(210, 240, 164);
}

form, .Resultado {
    background-color: #793096;
    width: 40%;
    padding: 20px;
    display: flex;
    border-radius: 40px;
    margin: 10% auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}

label {
    color: rgb(210, 240, 164);
    font-size: 1.5rem;
}


form input{
    background-color: aliceblue;
    height: 40px;
    margin-top: 10px;
    width: 100%;
    border: solid 2px rgb(210, 240, 164);
}

#btn {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(73, 4, 100);
    border: 0;
    color: rgb(210, 240, 164);
    font-size: 1.1rem;
    width: 150px;
}

#btn:hover{
    background-color: rgb(210, 240, 164);
    color: rgb(73, 4, 100);
}